notebooks/notebooks/parquet_files/*

deliverables/*.aux
deliverables/*.fdb_latexmk
deliverables/*.fls
deliverables/*.log
deliverables/*.synctex.gz

.venv
.ipynb_checkpoints
__pycache__/
*.pyc

dev.duckdb
dev.duckdb.wal