:3000 {
    
    encode gzip

    # db explorer
    route /db-admin* { 
        reverse_proxy db-explorer:8081
    }

    # prefect ui
    route /prefect* { 
        reverse_proxy prefect:4200
    }

    handle /jupyter* {
        reverse_proxy jupyter-lab:8888 
    }

    route {
        reverse_proxy frontend:8050
    }
}